<p id="notice"><%= notice %></p>
<div class="show">
<p>
  <strong>タイトル</strong>
  <%= @home.title %>
</p>

<p>
  <strong>内容</strong>
  <%= @home.content %>
</p>

<p>
  <strong>日時</strong>
  <%= @home.start_time.strftime("%m-%d") %>
</p>

<%= link_to '編集', edit_home_path(@home) %>
<%= link_to '消去',home_path(@home.id), method: :delete, data: { confirm: '本当に消去してもいいですか?' } %>
<%= link_to '戻る', homes_path %>
</div>