<!DOCTYPE html>
<html>
  <head>
    <title>Eshooan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
<header>

  <nav>
    <%= form_tag("/login", method: "post") do %>
      <%= submit_tag "Log in" %>
    <% end %>

    <%= form_tag("/signup", method: "post") do %>
      <%= submit_tag "Sign up" %>
    <% end %>
  </nav>
</header>

  </body>
</html>
